#hero {
    box-sizing: border-box;
    background-image: url("../images/Frame\ 427319043.png");
    /* height: 90vh; */
    /* background-image: url(../images/Frame 131.png); */
    /* background-position: top 0% right 63%; */
    /* background-size: cover; */
    height: 590px;
    /* text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff; */
}

#hero1 {
    background-image: url("../images/Frame 427319049.png");
    background-size: cover; /* Adjust to cover the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
    height: 590px;
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
    width: 117vh;
    margin-left: 45vh;
}

.banner{
    /* background-image: url('image\ 3.png'); */
    padding-top: 6rem;
    padding-left: 7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 100px;
}

    /* background-image: url(../images/Frame 131.png);
    background-position: top 0% right 63%;
    background-size: cover;
    height: 485px;
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff; */