{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Chat</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admindashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>
<body>
    <nav id='common-home-navbar' class="navbar bg-body-tertiary">
        <div class="container-fluid appname">
            <img src="{% static 'images/Group 9.png' %}">
            <form class="d-flex usernav-links" role="search">
                <p><a href="{% url 'home' %}">Home</a></p>
                <p><a href="">About Us</a></p>

                {% if user.is_staff %}
                <div class="dropdown">
                    <p class="">Submission</p>
                    <div class="dropdown-content">
                      <a href="{% url 'view_submissions' %}">Review submission</a>
                      <a href="{% url 'master_sub_hist' %}">Submission history</a>
                    </div>
                </div>
                {% else %}
                <div class="dropdown">
                    <p class="">Submission</p>
                    <div class="dropdown-content">
                      <a href="{% url 'submission_status' %}">Track submission</a>
                      <a href="{% url 'subm_his_user' %}">View submission history</a>
                    </div>
                </div>
                <p><a href="">Master Writers</a></p>
                <p><a href="{% url 'submit_writing' %}">Check Document</a></p>
                <p><a class="nav-link" href="{% url 'submit_complaint' %}">Add Complaint</a></p>
                {% endif %}
                
                {% if user.is_staff %}
                <a href="{% url 'master_chat' %}">Chat</a>
            {% else %}
                <a href="{% url 'user_chat' %}">Chat</a>
            {% endif %}
                <p><a href="">Contact Us</a></p>
            </form>    
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        User Menu
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        {% if user.userreg_set.exists %}
                            <!-- If User is a registered user -->
                            <!-- <li><a class="dropdown-item" href="{% url 'profile' %}" style="text-align: left;">Profile</a></li> -->
                        {% elif user.master_set.exists %}
                            <li><a class="dropdown-item" href="{% url 'master_profile' %}" style="text-align: left;">Profile</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'profile' %}" style="text-align: left;">Profile</a></li>
                        {% endif %}
                        <li>
                            <form action="{% url 'logout' %}" method="post" class="dropdown-item">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="text-decoration: none; color: black; text-align: left;">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>
    <section style="margin-top: 100px;" class="container-fluid" id="dashboard">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    {% for master in masters %}
                    <li class="flex-user-wrap">
                        <img class="img-fluid" src="" alt="">
                        <a href="?master_id={{ master.id }}">{{ master.username }}</a>
                    </li>
                    {% endfor %}
                </div>
            </div>
            <div class=" chat-display col-9">
                <div class="chat-hold">
                <div>
                    {% for message in messages %}
                    <div>
                        {% if message.sender_user %}
                            <strong class="sender">{{ message.sender_user.user.username }}: {{ message.message }}</strong>
                            <div class="clearfix"></div>
                        {% else %}
                            <strong >{{ message.sender_master.username }}: {{ message.message }}</strong>
                        {% endif %}
                        
                    </div>
                    {% endfor %}
                </div>
                <form method="post" class="chat-box" action="{% url 'send_message' %}">
                    {% csrf_token %}
                    <input type="hidden" name="receiver_master_id" value="{{ selected_master.id }}">
                    <textarea name="message"></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
            </div>
        </div>
    </section>
            
        </div>
    </div>
</body>
</html>
